::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(30, 64, 175);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 64, 175);
}

html,
body {
  scroll-behavior: smooth;
  transition: all 1.5s;
}

#menu-search {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#menu-search .bg-white {
  background-color: initial;
}

.hidden-tr-table {
  transform: translateX(-70%);
  opacity: 0;
  transition: all .25s ease-in-out;
}

.hidden-tr-table.show-tr-table {
  transform: translateX(0);
  opacity: 1;
}

.hidden-text-tema {
  opacity: 0;
  transition: all .6s ease-in-out;
}

.hidden-text-tema.show-text-tema {
  opacity: 1;
}

#form-new-texto,
#form-new-process {
  transform: translate(-50%, -50%);
}

/* <div class="tooltip"> // el will be hovered
    <div class="bottom">
        <h3>Lorem Ipsum</h3>
        <p>Dolor sit amet, consectetur adipiscing elit.</p>
        <i></i>
    </div>
</div> */


.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}

.tooltip .bottom {
  min-width:200px;
  top:40px;
  left:50%;
  transform:translate(-50%, 0);
  padding:10px 20px;
  color:#1e40af;
  background-color:#FFFFFF;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  border:1px solid #1e40af;box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .bottom {
  visibility:visible; opacity:1;
}

.tooltip .bottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#FFFFFF;
  border:1px solid #1e40af;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

#node-img {
  background-image: url('https://cdn-icons-png.flaticon.com/512/5968/5968322.png');
}

#EJS-img {
  background-image: url('https://icons.veryicon.com/png/o/business/vscode-program-item-icon/ejs.png');
}

#mongodb-img {
  background-image: url('https://cdn.iconscout.com/icon/free/png-512/mongodb-3629612-3032310.png?f=avif&w=256');
}

#js-img {
  background-image: url('https://cdn-icons-png.flaticon.com/512/5968/5968292.png');
}

#tinymce-img {
  background-image: url('https://www.tiny.cloud/docs/images/logos/for-base/logo-spaces-docs-for-base.svg')
}

#chartjs-img {
  background-image: url('https://www.chartjs.org/img/chartjs-logo.svg')
}

#tailwind-img {
  background-image: url('https://avatars.githubusercontent.com/u/30317862?s=200&v=4')
}

#fusejs-img {
  background-image: url('https://fusejs.io/assets/img/logo.png')
}

.svg-bg {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: -99999;
  position: fixed;
  opacity: .12;
}

