<footer class="fixed bottom-0 left-0 z-20 w-full bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between p-0">
  <span class="text-sm text-gray-500 sm:text-center ">© 2023 <a href="https://flowbite.com/" class="hover:underline">DDC23™</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500  sm:mt-0">
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6 ">Sobre</a>
      </li>
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Política de privacidade</a>
      </li>
      <li>
          <a href="#" class="hover:underline">Contato</a>
      </li>
  </ul>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500  sm:mt-0">
    <li>
      <span class="text-sm text-gray-500 sm:text-center "> Powered by: </span>
    </li>
    <li class="px-3">
      <div class="footer-bg bg-no-repeat bg-contain bg-center w-8 h-8" id="node-img"></div>
    </li>
    <li>
      <div class="footer-bg bg-no-repeat bg-contain bg-center w-11 h-11" id="EJS-img"></div>
    </li>
    <li>
      <div class="footer-bg bg-no-repeat bg-contain bg-center w-10 h-10" id="mongodb-img"></div>
    </li>
    <li class="pr-2">
      <div class="footer-bg bg-no-repeat bg-contain bg-center w-9 h-9" id="js-img"></div>
    </li>
    <li>
      <div class="footer-bg bg-no-repeat bg-contain bg-center w-16 h-16"  id="tinymce-img"></div>
    </li>
    <li>
      <div class="footer-bg bg-no-repeat bg-contain bg-center w-12 h-12"  id="chartjs-img"></div>
    </li>
    <li>
      <div class="footer-bg bg-no-repeat bg-contain bg-center w-12 h-12"  id="tailwind-img"></div>
    </li>
    <li>
      <div class="footer-bg bg-no-repeat bg-contain bg-center w-10 h-10" id="fusejs-img"></div>
    </li>
</ul>
</footer>
<!-- <script type="module" src="chart.js"></script> -->
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>


