<div id="div-date-frame" class="hidden relative w-full mb-3 group">
  <h3 class="mb-2 text-xs text-gray-600">Vigência</h3>
  <ul class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex">
    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
      <div class="flex items-center pl-2">
        <input id="28/04/1995-checkbox-list" type="checkbox" value="01/01/1970,28/04/1995" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 checkbox-time-frame">
        <label for="28/04/1995-checkbox-list" class="w-full py-1 ml-1 text-center text-xs rounded text-gray-600">Até 28/04/1995</label>
      </div>
    </li>
    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
      <div class="flex items-center pl-2">
        <input id="05/03/1997-checkbox-list" type="checkbox" value="29/04/1995,05/03/1997" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 checkbox-time-frame">
        <label for="05/03/1997-checkbox-list" class="w-full py-1 ml-1 text-xs text-center rounded text-gray-600">Entre 29/04/1995 e 05/03/1997</label>
      </div>
    </li>
    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
      <div class="flex items-center pl-2">
        <input id="02/12/1998-checkbox-list" type="checkbox" value="06/03/1997,02/12/1998" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500focus:ring-2 checkbox-time-frame">
        <label for="02/12/1998-checkbox-list" class="w-full py-1 ml-1 text-xs text-center rounded text-gray-600">Entre 06/03/1997 e 02/12/1998</label>
      </div>
    </li>
    <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
      <div class="flex items-center pl-2">
        <input id="18/11/2003-checkbox-list" type="checkbox" value="03/12/1998,18/11/2003" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500focus:ring-2 checkbox-time-frame">
        <label for="18/11/2003-checkbox-list" class="w-full py-1 ml-1 text-xs text-center rounded text-gray-600">Entre 03/12/1998 e 18/11/2003</label>
      </div>
    </li>
    <li class="w-full">
      <div class="flex items-center pl-2">
        <input id="current-checkbox-list" type="checkbox" value="19/11/2003,current" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500focus:ring-2 checkbox-time-frame">
        <label for="current-checkbox-list" class="w-full py-1 ml-1 text-center rounded text-xs text-gray-600">Entre 19/11/2003 e <%= currentDate %></label>
      </div>
    </li>
  </ul>
</div>
