<%- include('./partials/index/head') %>
<body id="body" class="animate__animated animate__fadeIn">
  <%- include('./partials/index/navMenu') %>
  <%- include('./partials/utilidades/media-log-content') %>
  <%- include('./partials/index/footer') %>
</body>
</html>
