<%- include('./partials/index/head') %>
<body>
  <%- include('./partials/index/navMenu') %>
  <%- include('./partials/utilidades/media-log-content') %>
  <%- include('./partials/index/footer') %>
</body>
</html>
