<button id="dropdownDefaultButtonEditor" data-dropdown-toggle="dropdownEditor" class="m-auto w-10/12 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center flex justify-center " type="button">Editor<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
  <div id="dropdownEditor" class="hidden flex flex-col justify-center bg-gray-100 z-50 divide-y p-3 divide-gray-100 rounded shadow w-full ring-2 ring-blue-500 m-auto animate__animated animate__fadeIn">
      <textarea id="mytextareaeditor" class="w-8/12 m-auto h-fit">
        
     </textarea>
  </div>
