<!-- <h2 class="mb-2 ml-10 text-lg font-semibold text-gray-900 ">Instruções: </h2>
<ul class="ml-10 max-w-md space-y-1 text-gray-500 list-disc list-inside">
  <li>
    Clique na aba para abrir um tema.
  </li>
  <li>
      É possível inserir temas no botão dropdown acima (Novo tema).
  </li>
  <li>
    É possível inserir textos dentro de um tema a partir do botão "Novo texto", bem como excluí-los com "Deletar texto".
  </li>
  <li>
    É possível consultar temas no botão dropdown acima (Lista de temas).
  </li>
  <li>
    Para editar tema ou texto basta dar duplo click sobre e depois clicar "Alterar tema" ou "Atulizar texto"
  </li>
</ul> -->
