<button id="btn-open-modal-new-tema" class="m-auto w-10/12 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center flex justify-center" type="button">Novo tema</button>

<dialog id="modal-new-tema" class="p-0 rounded-xl w-11/12">
  <!-- Modal content -->
  <div class="relative bg-white rounded-lg shadow">
    <!-- Modal header -->
    <div class="flex items-start justify-between p-4 border-b rounded-t">
      <h3 class="text-2xl font-semibold text-gray-800">
            Novo tema
      </h3>
      <button id="btn-hide-new-tema-modal" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <div class="p-6 space-y-6">
      <div class="relative  w-full mb-1 group">
        <input type="text" name="tema" id="new-tema-name" class=" mb-3 block py-2.5 px-0 w-full text-sm text-gray-900 border-0 border-b-2 border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="new-tema-name" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3  origin-[0] peer-focus:left-0 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nome do novo tema</label>
      </div>
      <div class="relative  w-full mb-1 group">
        <input type="text" name="tema" id="new-tema-texto-description" class=" mb-3 block py-2.5 px-0 w-full text-sm text-gray-900 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="new-tema-description" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3  origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Descrição do primeiro texto</label>
      </div>
      <div class="relative  w-full mb-1 group">
        <textarea name="texto" id="new-tema-texto-content" rows="2" class=" mb-3 block py-6 px-0 w-full text-sm text-gray-900 border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required ></textarea>
        <label for="new-tema-texto" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3  origin-[0] peer-focus:left-0 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Conteúdo do primeiro texto</label>
      </div>

      <div class="relative  w-full mb-1 group">
        <select name="tipo" id="new-tema-juizo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  select-tema-type" placeholder="Tipo">
          <option value="substituto" selected>Juízo Substituto</option>
          <option value="federal">Juízo Federal</option>
        </select>
      </div>
      <div class="relative  w-full mb-1 group">
        <select name="tipo" id="new-tema-texto-type" class="bg-gray-50  border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 select-tema-type" placeholder="Tipo">
          <option value="tempo_especial" selected>Tempo especial</option>
          <option value="tempo_rural">Tempo rural</option>
          <option value="tempo_urbano">Tempo urbano</option>
        </select>
      </div>
      <div class="relative w-full mb-1 group hidden" id="time-frame-tse">
        <h3 class="mb-5 text-sm font-medium text-gray-700">Escolha o(s) período(s) de vigência:</h3>
        <ul class="grid w-full gap-6 md:grid-cols-3">
          <li>
            <input type="checkbox" id="first-option" value="1970-01-01,1995-04-28" class="hidden peer time-frame-tse-option" required="">
            <label for="first-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">
              <div class="block">
                <div class="w-full text-base font-semibold">Até 28/04/1995</div>
                <div class="w-full text-xs">Decreto n. 53.831/1964 e 83.080/1979.</div>
                <div class="w-full text-xs">Enquadra-se com a habitualidade. Dispensa-se a permanência.</div>
                <div class="w-full text-xs">Permitido o enquadramento por atividade.</div>
                <div class="w-full text-xs">Permitido o enquadramento pela mera análise qualitativa de agentes químicos.</div>
                <div class="w-full text-xs">Uso de EPIs irrelevante.</div>
                <div class="w-full text-xs">Ruído superior a 80 dB(A) enquadra.</div>
                <div class="w-full text-xs">Avaliação de ruído sem necessidade de metodologia prevista na NR15 ou NHO-01.</div>
                <div class="w-full text-xs">A simples declaração do empregador; afora ruído, calor e frio, basta ao enquadramento.</div>
              </div>
            </label>
          </li>
          <li>
            <input type="checkbox" id="second-option" value="1995-04-29,1997-03-05" class="hidden peer time-frame-tse-option" required="">
            <label for="second-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">
              <div class="block">
                <div class="w-full text-base font-semibold">Entre 29/04/1995 e 05/03/1997</div>
                <div class="w-full text-xs">Decreto n. 53.831/1964 e 83.080/1979.</div>
                <div class="w-full text-xs">Enquadra-se com a habitualidade e permanência</div>
                <div class="w-full text-xs">Permitido o enquadramento pela mera análise qualitativa de agentes químicos.</div>
                <div class="w-full text-xs">Uso de EPIs irrelevante.</div>
                <div class="w-full text-xs">Ruído superior a 80 dB(A) enquadra.</div>
                <div class="w-full text-xs">Avaliação de ruído sem necessidade de metodologia prevista na NR15 ou NHO-01.</div>
                <div class="w-full text-xs">A simples declaração do empregador; afora ruído, calor e frio, basta ao enquadramento.</div>
              </div>
            </label>
          </li>
          <li>
            <input type="checkbox" id="third-option" value="1997-03-06,1998-12-02" class="hidden peer time-frame-tse-option" required="">
            <label for="third-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">
              <div class="block">
                <div class="w-full text-base font-semibold">Entre 06/03/1997 e 02/12/1998</div>
                <div class="w-full text-xs">Decreto n. 2.172/1997.</div>
                <div class="w-full text-xs">Enquadra-se com a habitualidade e permanência</div>
                <div class="w-full text-xs">Permitido o enquadramento pela mera análise qualitativa de agentes químicos.</div>
                <div class="w-full text-xs">Uso de EPIs irrelevante.</div>
                <div class="w-full text-xs">Ruído superior a 90 dB(A) enquadra.</div>
                <div class="w-full text-xs">Avaliação de ruído sem necessidade de metodologia prevista na NR15 ou NHO-01.</div>
                <div class="w-full text-xs">Necessário o embasamento em laudo técnico.</div>
              </div>
            </label>
          </li>
          <li>
            <input type="checkbox" id="fourth-option" value="1998-12-03,2003-11-18" class="hidden peer time-frame-tse-option" required="">
            <label for="fourth-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">
              <div class="block">
                <div class="w-full text-base font-semibold">Entre 03/12/1998 e 18/11/2003</div>
                <div class="w-full text-xs">MP  1.729, de 2 de dezembro de 1998.</div>
                <div class="w-full text-xs">Enquadra-se com a habitualidade e permanência</div>
                <div class="w-full text-xs">Quanto aos químicos previstos nos Anexos 11/12-NR15, exige-se superação dos limites de tolerância.</div>
                <div class="w-full text-xs">Uso de EPIs elide nocividade (desde que comprovada eficácia).</div>
                <div class="w-full text-xs">Ruído superior a 90 dB(A) enquadra.</div>
                <div class="w-full text-xs">Avaliação de ruído sem necessidade de metodologia prevista na NR15 ou NHO-01.</div>
                <div class="w-full text-xs">Necessário o embasamento em laudo técnico.</div>
              </div>
            </label>
          </li>
          <li>
            <input type="checkbox" id="fifth-option" value="2003-11-19,current" class="hidden peer time-frame-tse-option" required="">
            <label for="fifth-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">
              <div class="block">
                <div class="w-full text-base font-semibold">Entre 19/11/2003 e <%= currentDate %></div>
                <div class="w-full text-xs">Decreto 4.882/2003.</div>
                <div class="w-full text-xs">Enquadra-se com a habitualidade e permanência</div>
                <div class="w-full text-xs">Quanto aos químicos previstos nos Anexos 11/12-NR15, exige-se superação dos limites de tolerância.</div>
                <div class="w-full text-xs">Uso de EPIs elide nocividade (desde que comprovada eficácia).</div>
                <div class="w-full text-xs">Ruído superior a 85 dB(A) enquadra.</div>
                <div class="w-full text-xs">Para o ruído é necessária avaliação por metodologia prevista na NR15 ou NHO-01 (Tema 174/TNU).</div>
                <div class="w-full text-xs">Necessário o embasamento em laudo técnico.</div>
              </div>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <!-- Modal footer -->
    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
      <button id="btn-submit-new-tema" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-1/2">Enviar</button>
      <button id="btn-hide-new-tema-modal-2" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 w-1/2">Cancelar</button>
    </div>
  </div>
</dialog>

