<a href="" class="flex items-center text-xl">
  <img src="https://cdn-icons-png.flaticon.com/512/6819/6819215.png" class="h-6 mr-3 sm:h-12" alt="" />
  <span class="self-center text-xl font-semibold whitespace-nowrap ">Controle de Processos</span>
</a>
